.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 64px; /* This creates space for the fixed navbar */
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 16px; /* Base font size */

  @media (max-width: 768px) {
    font-size: 14px; /* Smaller font size for tablets */
  }

  @media (max-width: 480px) {
    font-size: 12px; /* Even smaller font size for mobile */
  }
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
